<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <head>
        <title>Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div>
            <p><b>Error: </b><span th:text="${message}"/></p>
            <details>
                <summary><b>Stack Trace:</b></summary>
                <span th:text="${trace}"/>
            </details>

            <br><br>
            <a href="/home">Click here to return to the Home page.</a>
        </div>
    </body>

</html>